<nav class="main-header" *ngIf="isSpecial" >
    <img src="../../../assets/img/Group 2.png" alt="" class="logo">
    <div class="sec-menu-right">
        <div>
            <button type="button">
                <img src="../assets/icon/chatbox-ellipses.png" alt="">
            </button>
            <div class="menu-chat">
                <h3>Recent Posts</h3>
                <div>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero debitis</h4>
                    <p>magnam atque quaerat, modi, molestiae rerum expedita culpa facilis suscipit esse laudantium saepe nisi nihil labore animi dolorum!</p>
                </div>
                <div>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>magnam atque quaerat, modi, molestiae rerum expedita culpa</p>
                </div>
            </div>
        </div>
        <div>
            <button type="button">
                <img src="../assets/icon/menu.png" alt="">
            </button>
        </div>
    </div>
</nav>
<ng-content></ng-content>
