
<div class="content-home">
    <div class="parallax-home" ngx-parallax [active]="true" [speed]="20" ></div>


    <section class="cont-info-home">
        <div class="cont-info">
            <img class="logo" src="../../../assets/img/Group 2.png" alt="">
            <h1>
                Create a message to <wbr>
                shere with your <wbr>
                friends.
            </h1>
            <h2>
                Create your first message <wbr>
                following the first steps:
            </h2>
            <div class="cont-steps-home">
                <div>
                    <img src="../../../assets/img/Fashion blogging-pana 2.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam esse sit, amet corporis sint illum eum fuga maiores.</p>
                </div>
                <div>
                    <img src="../../../assets/img/Connected world-pana 2.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laboriosam voluptates laudantium tempore fuga architecto.</p>
                </div>
            </div>
            <div class="cont-buttons-home">
                <button class="btn fill" (click)="navigateTo('/register')">Sign Up</button>
                <button class="btn border" (click)="navigateTo('/login')">Logn In</button>
            </div>
        </div>
        <div class="cont-img">
            <img src="../../../assets/img/create-message.png" alt="">
        </div>
    </section>

    <section class="cont-info-home right">
        <div class="cont-info">
            <h1>
                Create a message to <wbr>
                shere with your <wbr>
                friends.
            </h1>
            <h2>
                Create your first message <wbr>
                following the first steps:
            </h2>
            <div class="cont-steps-home">
                <div>
                    <img src="../../../assets/img/Fashion blogging-pana 1.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam esse sit Natus laboriosam voluptates.</p>
                </div>
                <div>
                    <img src="../../../assets/img/Connected world-pana 1.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laboriosam voluptates laudantium tempore fuga.</p>
                </div>
            </div>
            <div class="cont-buttons-home">
                <button class="btn fill" (click)="navigateTo('/register')">Sign Up</button>
                <button class="btn border" (click)="navigateTo('/login')">Logn In</button>
            </div>
        </div>
        <div class="cont-img">
            <img src="../../../assets/img/login.png" alt="">
        </div>
    </section>

    <section>
        <div class="last-home">
            <div class="cont-qr">
                <img src="../../../assets/icon/pngwing 1.png" alt="">
                Scan to download <br>
                iOS & Android
            </div>
            <div class="cont-icons">
                <div class="active">
                    <img src="../../../assets/icon/ri_app-store-fill-1.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/icon/Frame 17.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/icon/Vector-1.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/icon/wpf_macos.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/icon/material-symbols_desktop-windows-1.png" alt="">
                </div>
                <div>
                    <img src="../../../assets/icon/mdi_linux.png" alt="">
                </div>
            </div>
            <div class="cont-buttons-home">
                <button class="btn fill" (click)="navigateTo('/register')" >Sign Up</button>
                <button class="btn border" (click)="navigateTo('/login')">Logn In</button>
            </div>
        </div>
    </section>

</div>
